BasedOnStyle: Mozilla
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
PointerAlignment: Right
SortIncludes: Never
